
   .hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(100%); /* Adjust the brightness level as needed */
   } 